In [72]:
FILE="data/euler2-tests.csv"
#TODO get metadata for serie 20

In [73]:
import pandas as pd
data = pd.read_csv(FILE)
if "index" in data.columns:
    data.set_index('index', inplace=True)
#data['date'] = pd.to_datetime(data['date'])
#data["is-counted"] = data["is-counted"].fillna(False)
#data["is-counted"] = data["is-counted"].fillna(False).infer_objects(copy=False)
#data["is-counted"] = data.get("is-counted",False)
if "is-counted" in data.columns:
    data["is-counted"] = data["is-counted"].astype(bool)
else:  
    data['is-counted'] = True
data

             date  note                   info  is-counted
index
1      2023-08-30    35  1er test donc mauvais        True
2      2023-10-11    58            remediation        True
3      2023-11-08    59   memoriser th et def!        True
4      2023-12-06   100                  OMG!!        True
5      2024-01-24    54               big flop        True
6      2024-02-28    87                  super        True

In [74]:
notes = data[data["is-counted"]]["note"]
notes

index
1     35
2     58
3     59
4    100
5     54
6     87
Name: note, dtype: int64

In [75]:
notes.describe()

count      6.000000
mean      65.500000
std       23.721298
min       35.000000
25%       55.000000
50%       58.500000
75%       80.000000
max      100.000000
Name: note, dtype: float64

             note
count    6.000000
mean    65.500000
std     23.721298
min     35.000000
25%     55.000000
50%     58.500000
75%     80.000000
max    100.000000

In [77]:
not None

True